*{
   margin:0px;
   padding:0px;	
}
.head1{
	  background-color:Transparent;
	   position:fixed;
	   width:100%;
	
}
.main1 p{
	      color:white;
		  font-size:2rem;
		  padding-top:1rem;
		   font-family:sans-serif;
		  font-weight:400;	
}
.main1 h1{
	      color:white;
		  font-size:4.5rem;
		  font-family:sans-serif;
		  font-weight:600;	
}
.main2{
	    padding:15.5rem;
		margin-left:6rem;

}
.about2{
	    display:flex;
}
.about6 h3{
	        font-size:2rem;
			font-weight:550;
			font-family:sans-serif;
	
}
.container{
	         display:flex;
			 height:85vh;
			 background-color:#FFFFFF;
			 box-shadow:2px 1px 10px grey;
			 padding:4rem;
			 margin:5rem 6rem;
}	
.about6{
	    margin-left:6rem;
	
	
}
.about6 p{
	      font-size:1.02rem;
		  font-weight:500;
		  line-height:2rem;
		  padding-top:1.5rem;
		  letter-spacing:1px;
		  font-family:sans-serif;
		  color:#4e4e4e;
	
	
}
.main2 p{
	      text-align:center;
		  font-weight:500;
		  letter-spacing:2px;
	
}
.head1{
	    background-color:#090909;
		padding:15px;
	    color:white;
		display:flex;	
	
}	
.head1 p{
	      font-size:2rem;
		  font-weight:550;
		  letter-spacing:1px;
		  padding:10px 90px 10px 90px;
	
}
.nav1 ul {
	       list-style-type:none;
		   margin-left:320px;
		   padding:15px;
		   
		  
}
.nav1 ul li a{
	
	           text-decoration:none;
			  
			   padding-bottom:10px;
			   font-family:sans-serif;
			   font-weight:600;
			   font-size:1rem;
			   color:white;
			   margin:10px;
	
	
	
}
.nav1 ul li{
             display:inline-block;
}
.main1{
	   background-image:url('../img/hero-bg.jpg');
	   width:100%;
	   height:120vh;
	   background-size:cover;
	   background-attachment:fixed;
}
.about7{
	    background-color:#0078FF;
		margin-top:0.2rem;
		height:0.2rem;
		width:23%;
	
}	
.about4{
	    padding-left:3rem;
}
.about4 span{
	         font-weight:bold;
			 color:black;
}
.about4 p{
	       font-size:1.05rem;
		   font-family:sans-serif;
		   line-height:2.5rem;
		   color:#4e4e4e;	
}
.HTML{
	  width:100%;
	  height:2vh;
	  background-color:#CDE1F8;
	
}
.HTML div{
	      width:85%;
	      height:2vh;
	      background-color:#0078FF;
	
}
.CSS3{
	    width:100%;
	    height:2vh;
	    background-color:#CDE1F8;
	
}
.CSS3 div{
	      width:75%;
	      height:2vh;
	      background-color:#0078FF;
	
}
.PHP{
	   width:100%;
	  height:2vh;
	  background-color:#CDE1F8;
}
.PHP div{
	      width:50%;
	      height:2vh;
	      background-color:#0078FF;
	
}
.JAVASCRIPT{
	          width:100%;
	          height:2vh;
	          background-color:#CDE1F8;
}	
.JAVASCRIPT div{
	      width:90%;
	      height:2vh;
	      background-color:#0078FF;
	
}
.about5{
	    padding-top:3rem;

}
.about5 p{
	      padding-top:1.5rem;
		  padding-bottom:0.7rem;

}
.about5 h4{
	       font-family:san-serif;
		   font-size:1.05rem;

}
.services{
	       margin-top:4rem;
		   
}
.ser1{
	   text-align:center;
	
}
.ser1 p{
	     font-size:1rem;
		 color:#4E4E4E;
		 font-weight:600;
		 font-family:sans-serif;
		 padding-top:1rem;
}
.ser1 h1{
	     font-size:3rem;
		 letter-spacing:1px;
		 font-wseight:900;
		 font-family:sans-serif;
}
.ser2{
	   background-color:#0078FF;
	   margin-top:2rem;
	   width:5%;
	   height:0.2rem;
	   margin-left:38.8rem;
	
}
.ser3{
	     display:flex;
		 background-color:white;
		 text-align:center;
		 padding:2rem;
		 margin:0.2rem 5rem ;
	
}
.service4{
	      display:flex;
		  background-color:white;
		  text-align:center;
		  padding:2rem;
		  margin:0rem 5rem;
	
	
}
.ser4{
	   background-color:#FFFFFF;
	   box-shadow:1px 2px 10px #ccc;
	   border-radius:25px;
	   padding:2rem;
	   height:40vh;
	   width:45%;
	
	
}
.ser5{
	    background-color:#FFFFFF;
		box-shadow:1px 2px 10px #ccc;
		border-radius:25px;
		 padding:2rem;
		 margin-left:1.5rem;
	    height:40vh;
	    width:45%;
	
	
}
.ser6{
	    background-color:#FFFFFF;
		box-shadow:1px 2px 10px #ccc;
		border-radius:25px;
		 margin-left:1.5rem;
		 padding:2rem;
	     height:40vh;
	     width:45%;
	
	
}
.ser7{
	   background-color:#FFFFFF;
	   box-shadow:1px 2px 10px #ccc;
	   border-radius:25px;
	   padding:2rem;
	   height:40vh;
	   width:45%;
	
	
}
.ser8{
	    background-color:#FFFFFF;
		box-shadow:1px 2px 10px #ccc;
		border-radius:25px;
		 margin-left:1.5rem;
		 padding:2rem;
	    height:40vh;
	    width:45%;
	
	
}
.ser9{
	    background-color:#FFFFFF;
		box-shadow:1px 2px 10px #ccc;
		border-radius:25px;
		 margin-left:1.5rem;
		 padding:2rem;
	     height:40vh;
	     width:45%;
	
	
}
.ser3 iconify-Icon{
	                Border:10px solid #0078FF;
					border-radius:100%;
					background-color:#FFFFFF;
					padding:1.5rem;
					font-size:3rem;
}
.serv3:hover iconify-icon{
						    background-color:#0078FF;
							color:white;
							border-color:#CDE1F8;
							transition:0.3s;
	
}
.service4 iconify-Icon{
	                Border:10px solid #0078FF;
					border-radius:100%;
					background-color:#FFFFFF;
					padding:1.5rem;
					font-size:3rem;
}
.service4 iconify-icon:hover{
	                       background-color:#0078FF;
						   color:white;
						   border-color:#CDE1F8;
	
	
	
}

.services p{
	          color:#4E4E4E;
			  font-family:roboto;
			  padding-top:1rem;
	
	
}
.services h3{
	          color:black;
			  font-family:sans-serif;
			  letter-spacing:1px;
			  font-size:1rem;
			  font-weight:780;
			  padding-top:2rem;
	
	
}
.pic{
	  background-image:url('../img/counters-bg.jpg');
	  margin-top:1.5rem;
	  background-size:cover;
	  width:100%;
	  height:70vh;
	  display:flex;
	  background-attachment:fixed;
	  justify-content:space-around;
	  position:relative;
	  
	
	
}
.pic::after{
	        content:"";
			position:absolute;
			opacity:0.7;
			background-color:#0078ff;
			top:0;
			bottom:0;
			right:0;
			left:0;

}
.pic1{
	   color:white;
	   margin-top:10rem;
	   text-align:center;
	   position:relative;
	   z-index:1;
	   
}
.pic i{
	    border:10px solid white;
		font-size:2rem;
		border-radius:100%;
		padding:1.1rem;
	
}
.pic h4{
	      margin-top:3rem;
		  font-family:roboto;
		  font-weight:500;
		  font-size:2rem;
		
	
	
	
}
.pic p{
	      margin-top:1rem;
		  font-family:roboto;
		  font-weight:600;
		 	
}
.portfolio{
	        margin-top:3rem;
	
	
}
.porfolio1{
	        Text-align:center;
	
}
.porfolio1 h2{
	         font-size:3rem;
			 font-family:roboto;
			 font-weight:700;
			 padding-bottom:1rem;
	
}
}
.porfolio1 p{
	         Text-align:center;
			 font-size:1rem;
			 font-family:sans-serif;
			 font-weight:500;
	
}
.port{
	   margin:1rem 40rem;
	   height:0.2rem;
	   width:5%;
	   background-color:blue;
}
.port-item3{
	         display:flex;
			 margin:0rem 5rem;
	
	
}
.port-item2{
	         display:flex;
			 margin:0rem 5rem;
	
	
}
.port-item1{
	         height:50vh;
			 background-color:#FFFFFF;
			 box-shadow:1px 2px 10px #ccc;
			 margin:1rem;
			 width:50%;
	
}
.port-item1 img{
	             height:35vh;
				 width:100%;
	
	
}
.port-item1 h4{
	            margin-top:1.5rem;
				padding-left:2rem;
				font-family:sans-serif;
	
}
.port-item1 p{
				font-family:sans-serif;
				padding-left:2rem;
	
}
.port-item3 p a .bi-plus-circle{
	                           margin-left:4.5rem;
				               font-size:2.5rem;
				
	
}
.port-item2 p a .bi-plus-circle{
	                           margin-left:4.5rem;
				               font-size:2.5rem;
				
	
}
.port-menu span{
	             color:#499FFF;
	
}

.profile{
	       background-image:url('../img/overlay-bg.jpg');
		   background-attachment:fixed;
		   position:relative;
		   margin-top:3rem;
		   background-size:cover;
		   width:100%;
		   height:80vh;
}	
.profile-1{    
            text-align:center;
			position:relative;
			z-index:1;
			

}
.profile-1 p{    
              line-height:2rem;
			  font-size:1.5rem;
			  color:white;
			

}
.profile-1 h2{ 
              font-size:2rem;
			  color:white;
              font-weight:600;	
              font-family:sans-serif;			  
              margin-top:2rem;
			  margin-bottom:2rem;
			

}
.profile-1 img{    
                  margin-top:8rem;
                  border-radius:100%;
			

}
.profile::after{
				  content:"";
				  position:absolute;
				  opacity:0.7;
				  background-color:#0078ff;
				  top:0;
				  bottom:0;
				  right:0;
				  left:0;
				  
	
}
.about-blog{
	          text-align:center;
			  padding-top:1.5rem;
}
.about-blog h2{
	            font-size:3rem;
				padding-bottom:0.5rem;
				font-family:sans-serif;
				font-weight:600;
	
}
.about-blog p{
	           color:#4E4E4E;
			   font-size:1rem;
			   font-family:roboto;
} 
.blog{ 
	   background-color:#F5F5F5;
	  
	
}
.blog-1{
	    display:flex;
		padding-bottom:4rem;
		margin:0rem 6rem;
	
	  
	
}
.blog-2{
	    background-color:#FFFFFF;
		margin:1rem;
		box-shadow:1px 2px 10px grey;
		height:70vh;
		width:30%;
		
	
}
.blog-2 .image{
	        width:100%;
			height:35vh;
	
	
}
.blog3 img{
	         border-radius:100%;
			 margin-top:0.5rem;
			 margin-left:1rem;
			 height:2rem;
			 width:9%;
	
}
.blog3{
	    display:flex;
		 margin-top:1rem;
	
}
.blog3 span{
	         margin-top:1.6rem;
			 margin-left:4rem;
			 color:#4E4E4E;
	
}
.blog3 h3{
		   font-size:1rem;
		   font-family:roboto;
}
.blog-2 h4{
	          background-color:#0078FF;
			  color:white;
			  text-align:center;
			  padding:0.3rem 0.8rem;
			  position:absolute;
			  margin:-1rem 8rem 8rem;
			  
	
}
.blog-2 h3{
	        margin-top:1.3rem;
			margin-left:1.5rem;
			margin-bottom:1rem;
	
	
}
.blog-2 p{
			   margin-left:1.5rem;
			   color:#4E4E4E;
			   font-size:1.02rem;
			   font-weight:500;
			   padding-bottom:1rem;
			   line-height:1.5rem;
			   font-family:roboto;
	
	
}
.form{
	   background-image:url('../img/overlay-bg.jpg');
	   background-attachment:fixed;
	   position:relative;
	   background-size:cover;
	   padding-left:3rem;
	   padding-top:6rem;
	   height:105vh;
	
}
.form::after{
	          content:"";
			  position:absolute;
			  background-color:#0078ff;
			  opacity:0.7;
			  top:0;
			  bottom:0;
			  right:0;
			  left:0;
}
.form1{
	     z-index:1;
		 position:relative;
	
}
.form1{
	    height:95vh;
		width:80%;
		background-color:white;
		margin-left:5rem;
}
.form h2{
	       font-size:2rem;
	
}
.contact{
	      background-color:#2D90FF;
		  height:0.2rem;
		  width:15%;
		  margin-top:0.3rem;
	
}
.contact1{ 
          display:flex;
	
	
}
.form2{
	    width:50%;
		padding:2rem;
	
}
.form3{
	    width:50%;
		padding:2rem;
	
}
.form3 p{
	      margin-top:2rem;
		  padding-bottom:2rem;
		  font-size:1.20rem;
	      line-height:2rem;
		  color:#4E4E4E;
		  font-weight:500;
		  font-family:roboto;
	
}
.form3 ul {
	        list-style:none;
	
}
form input {
			 height:2.5rem;
			 width:100%;
			 margin-top:2rem;
	
}
form textarea{
	           width:100%;
			   margin-top:2rem;
	
}
.form .btn{
	        margin-top:2rem;
			margin-left:25%;
			border-color:#2D90FF;
			font-size:1rem;
			font-weight:600;
			color:white;
			border-radius:25px;
			padding:1rem 3rem;
			background-color:#2D90FF;
}	
.form .btn:hover{
	              border:5px solid #CDE1F8;
				  border-radius:25px;
	
}
.socials ul li{
	           display:inline-block;
			   margin-left:0.5rem;
	
}
.form3 span {
	         color:black;
			 padding:1rem;
}
.list-ico li{
	          margin-top:1rem;
			  
	
}
.list-ico li span{
	               font-size:1rem;
				   color:#2D90FF;
	
}
.socials span{ 
               border:3px solid #2D90FF;
			   border-radius:100%;
			   padding:1rem;
	
	
}
.socials{
	      padding-top:3rem;
}
.socials span:hover{
	                 background-color: #2D90FF;
					 color:white;
					 border:3px solid #CDE1F8;
	
	
	
}
footer{
	     height:20vh;
		 width:100%;
		 background-color:#0062D3;
	
}
.foot{
	     padding-top:2rem;
		 text-align:center;
		 color:white;
		 line-height:1.5rem;
		 font-size:1.20rem;
	
	
}
.foot span{
	        font-weight:600;
			
	
}

			  
			  
	
	
	
